#tech-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));

}

div#about_info {
    display: flex;
   
}

div#about_text {
    width: 60%;
    margin-right: 0px;
}

#portfolio_img_div {
    width: 35%;
    margin-left: 5%;
    height: same-as-width;
    float: right;
    
    
}

img#portfolio_img {
    object-fit: contain;
    width: 100%;
   
    
}

