div.feature-project {
    display: block;
    height: 300px;
    margin-bottom: 50px;
}

.project-summary {
    width:50%;
    height: 300px;
}
div.project-description {
    color: var(--light-text);
    
    padding: 20px;
    background-color: var(--light-navy);
    
}

p.feature {
    font-size: 1.3ch;
    margin-bottom: 5px;
}

h2.projectName {
    margin-top: 0px;
}

ul.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    
    padding: 0px;
}
.project-tech-list li {
    margin-left: 25px;
    color: var(--light-text);
    
}
div.feature_links {
    height: 40px;
    display: flex;
    
}

a.github_link{
    width: 30px;
    height: auto;
    margin: 5px;
}



a.github_link svg {
    object-fit: contain;
    
    
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1;
    
    text-align: right;
    
    color: var(--light-text);

    stroke: var(--light-text);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    max-width: 100%;
    vertical-align: middle;
    fill: none;
    width: 25px;
    height: 25px;
}

a:hover svg {
    stroke: var(--green);
}



