main {
    padding: 0px;
}

div.header {
    height: 80px;
    display: inline-block;
    top: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #0a192f;
    transition: 0.1s;
    padding-left:20px;
    
}

h1#title {
    color: white;
    width: 100%;
    padding-right: 0px;
}

div.titleContainer {
    width: 300px;
    float: left;
    margin-right: 0px;
}

div.quickScroll {
    margin-top: 30px;
    margin-right: 50px;
    float: right;
    
}

div.quickScroll a:not(.button) {
    font-size: 1.35ch;
    text-decoration: none;
    color: var(--light-text);
    padding: 25px;

}

div.quickScroll a.button {
    font-size: 1.35ch;
    color: var(--green);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px; 
    border-width: 1px;
    margin-right: 50px;
}
  
div.quickScroll a.button:hover {
    background: var(--green-tint);
}

div.quickScroll a:not(.button):hover {
    color: var(--green);
}


