:root {
  background-color: #0a192f;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #233554;
  --light-text: #ccd6f6;
  --text: #a8b2d1;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  scroll-behavior: smooth;

}

main {
  background-color: #0a192f;
  height: 100vh;
  width: 100vw;
  padding:20px;
  z-index: 100;
  margin-top: 60px;
  padding-left: 40px;
  
}

div#container {
  height: 100%;
  width: 100vw;
  margin: 0px;
  padding-top:20px;
}

div#content {
  margin-top: 80px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",Monospace;
}

button {
  background-color: var(--navy);
  color: var(--green);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--green);
  border-width: 1.5px;
}

button:hover {
  background: var(--green-tint);
}

